body {
    font-family: Helvetica, sans-serif;
    margin: 0px;    
    font-size: 1.5vw;
}

#logo{
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 17%;
    border-radius: 20%;
    text-shadow:
    1px 1px 0px black,
    -1px 1px 0px black,
    1px -1px 0px black,
    -1px -1px 0px black;
}

ul {
    margin: 0px;
}

body > header {
    background-color: rgb(0, 17, 255);
    color: white;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#navul{
    display: flex;
}

#navul > li{
    padding: 8px;
    margin: 16px;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton{
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#maincontent{
    display: flex;
    justify-content: space-around;
}

#maincontent > div{
    width: 600%;
}

#mainaside{
    margin-left: 40px;
}


form{
    text-align: center;
}

h2{
    text-align: center;
}

body > footer {
    background-color: rgb(0, 17, 255);
    display: flex;
}

img{
    border-radius: 50%;
}

#footerul{
    display: flex;
    list-style: none;
}

#footerul > div > li{
    margin-left: 20px;
}

#footerul > div > li > a{
    text-decoration: none;
    color: white;
}

#lowerlogo{
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
    width: 17%;
    border-radius: 20%;
    color: white;

}